.page-content {
    display: flex;
    justify-content: center;

    .form {
        flex-basis: 80%;
        max-width: 500px;
    }

    .mat-card {
        margin-top: 16px;
        margin-bottom: 16px;
    }

    .textarea {
        width: 100%;
    }

    .submit-container {
        float: right;
        margin-bottom: 24px;
    }

    .spinner {
        display: inline-block;
        vertical-align: bottom;
        margin-right: 16px;
    }
}

.spacer {
    flex: 1 1 auto;
}

#upload {
    display: none;
}

.upload-label {
    cursor: pointer;
    height: 40px;
    width: 40px;
    text-align: center;

    .upload-icon {
        line-height: 31px;
        vertical-align: middle;
    }
}

.delete-voice-button {
    float: right;
}

.voiceId-select {
    margin-right: 8px;
}