.page-content {
    display: flex;
    justify-content: center;

    .form {
        flex-basis: 80%;
        max-width: 500px;
    }

    .mat-card {
        margin-top: 16px;
        margin-bottom: 16px;
    }

    .textarea {
        width: 100%;
    }

    .submit-button {
        float: right;
        margin-bottom: 24px;
    }
}

.spacer {
    flex: 1 1 auto;
}

#upload {
    display: none;
}

.upload-label {
    cursor: pointer;
    height: 40px;
    width: 40px;
}