.page-content {
    display: flex;
    justify-content: center;
    margin-bottom: 80px;

    .form {
        flex-basis: 80%;
        max-width: 650px;
    }

    .mat-card {
        margin-top: 16px;
        margin-bottom: 16px;
    }

    .textarea {
        width: 100%;
    }

    .submit-container {
        margin-bottom: 8px;
    }

    .progress-bar {
        margin-inline-start: 8px;
    }

    .progress-container {
        display: flex;
        align-items: center;
    }
}

.spacer {
    flex: 1 1 auto;
}

#upload {
    display: none;
}

.upload-label {
    cursor: pointer;
    height: 40px;
    width: 100%;
    text-align: center;
    display: block;

    .upload-icon {
        line-height: 31px;
        vertical-align: middle;
    }
}

.voiceId-select {
    margin-right: 8px;
}

::ng-deep .mat-tab-body {
    margin-top: 8px;
}

.menu-button {
    margin-right: 8px;
}

.sidenav-container {
    height: calc(100% - 64px)
}

mat-sidenav {
    width: 200px;
}

.sidenav-buttons {
    display: flex;
    flex-direction: column;
}

.sidenav-icon {
    margin-right: 8px;
}

.voice-controls-container {
    display: flex;

    .mat-form-field {
        width: 100%;
    }
}