<mat-toolbar color="primary">
  <mat-toolbar-row>
    <button mat-icon-button class="menu-button" (click)="sidenav.toggle()">
      <mat-icon>menu</mat-icon>
    </button>
    <span>Text to speech</span>
  </mat-toolbar-row>
</mat-toolbar>
<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav mode="side">
    <div class="sidenav-buttons">
      <button type="button" mat-button (click)="download()">
        <mat-icon inline class="sidenav-icon">save</mat-icon>
        Save
      </button>
      <input
        type="file"
        hidden="true"
        #uploadFileInput
        (change)="loadPartsFromFile()"
        accept="application/json">
      <button type="button" mat-button (click)="uploadFileInput.click()">
        <mat-icon class="upload-icon sidenav-icon" inline>folder_open</mat-icon>
        Load
      </button>
      <input
        type="file"
        hidden="true"
        #parseFileInput
        (change)="parseFromFile()"
        accept="text/plain">
      <button type="button" mat-button (click)="parseFileInput.click()">
        <mat-icon inline class="sidenav-icon">upload</mat-icon>
        Parse from text
      </button>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <div class="page-content">
      <form (ngSubmit)="convertToAudio()" [formGroup]="formGroup" class="form">
        <mat-card>
          <mat-card-title>
            Customize voices
          </mat-card-title>
          <mat-card-content>
            <div *ngFor="let voiceCustomization of getVoiceCustomizationsControl().controls; let i = index"
              [formGroup]="voiceCustomization">
              <mat-form-field class="voiceId-select">
                <mat-label>
                  Original voice
                </mat-label>
                <mat-select formControlName="voiceId">
                  <mat-optgroup label="female">
                    <mat-option *ngFor="let voice of femaleVoices" [value]="voice">
                      {{ voice }}
                    </mat-option>
                  </mat-optgroup>
                  <mat-optgroup label="male">
                    <mat-option *ngFor="let voice of maleVoices" [value]="voice">
                      {{ voice }}
                    </mat-option>
                  </mat-optgroup>
                </mat-select>
              </mat-form-field>
              <mat-form-field>
                <mat-label>New name</mat-label>
                <input matInput formControlName="customization">
              </mat-form-field>
              <button mat-icon-button (click)="removeVoiceCustomization(i)" class="delete-voice-button">
                <mat-icon>delete</mat-icon>
              </button>
            </div>
          </mat-card-content>
          <mat-card-actions align="end">
            <button type="button" color="accent" mat-stroked-button (click)="addAVoice()">
              <mat-icon inline>add</mat-icon>
              Add a voice
            </button>
          </mat-card-actions>
        </mat-card>
        <mat-card *ngFor="let part of getPartsControl().controls; let i = index" [formGroup]="part">
          <mat-card-title>Part {{ i + 1 }}</mat-card-title>
          <mat-card-content>
            <mat-form-field>
              <mat-label>Voice</mat-label>
              <mat-select formControlName="voice">
                <mat-optgroup label="female">
                  <mat-option *ngFor="let voice of femaleVoices" [value]="voice">
                    {{ getVoiceDisplayName(voice) }}
                  </mat-option>
                </mat-optgroup>
                <mat-optgroup label="male">
                  <mat-option *ngFor="let voice of maleVoices" [value]="voice">
                    {{ getVoiceDisplayName(voice) }}
                  </mat-option>
                </mat-optgroup>
              </mat-select>
            </mat-form-field>
            &ngsp;
            <a href="https://cloud.google.com/text-to-speech/docs/voices" target="_blank" rel="noopener" mat-stroked-button
              color="accent">List of voices</a>
            <br>
            <mat-tab-group dynamicHeight (selectedTabChange)="setTypeFormControlValue(i, $event)"
              [selectedIndex]="getTypeTabIndex(i)">
              <mat-tab label="Text">
                <ng-template matTabContent>
                  <mat-form-field class="textarea">
                    <mat-label>Text to convert</mat-label>
                    <textarea matInput formControlName="text" matTextareaAutosize>
                    </textarea>
                  </mat-form-field>
                </ng-template>
              </mat-tab>
              <mat-tab label="SSML">
                <ng-template matTabContent>
                  <ngx-monaco-editor [options]="editorOptions" formControlName="text"></ngx-monaco-editor>
                </ng-template>
              </mat-tab>
            </mat-tab-group>
          </mat-card-content>
          <mat-card-actions align="end">
            <button mat-button color="accent" type="button" (click)="deleteCardAt(i)"
              [disabled]="loading || getPartsControl().length === 1">
              <mat-icon inline>delete</mat-icon>&ngsp;Delete
            </button>
            <button mat-stroked-button color="accent" type="button" (click)="addCardAt(i)" [disabled]="loading">
              <mat-icon inline>add</mat-icon>&ngsp;Add before
            </button>
            <button mat-stroked-button color="accent" type="button" (click)="addCardAt(i+1)" [disabled]="loading">
              <mat-icon inline>add</mat-icon>&ngsp;Add after
            </button>
          </mat-card-actions>
        </mat-card>
        <div class="submit-container">
          <button mat-raised-button type="submit" color="primary" class="submit-button" [disabled]="loading">
            <mat-icon inline>download</mat-icon>
            Create audio
          </button>
        </div>
        <div class="progress-container" *ngIf="loading">
          <span>{{loadingPercentage | percent}}</span>
          <mat-progress-bar [value]="loadingPercentage * 100" color="accent" class="progress-bar"></mat-progress-bar>
        </div>
      </form>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>