<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Audio</span>
    <span class="spacer"></span>
    <button type="button" mat-icon-button (click)="download()"><mat-icon>download</mat-icon></button>
    <label for="upload" class="upload-label"><mat-icon class="upload-icon">upload</mat-icon></label>
    <input type="file" id="upload" #uploadFileInput (change)="loadPartsFromFile()" accept="application/json">
  </mat-toolbar-row>
</mat-toolbar>
<div class="page-content">
  <form (ngSubmit)="convertToAudio()" [formGroup]="formGroup" class="form">
    <mat-card *ngFor="let part of getPartsControl().controls; let i = index" [formGroup]="part">
      <mat-card-title>Part {{ i + 1 }}</mat-card-title>
      <mat-card-content>
        <mat-form-field>
          <mat-label>Voice</mat-label>
          <mat-select formControlName="voice">
            <mat-option *ngFor="let voice of voices" [value]="voice">
              {{ voice }}
            </mat-option>
          </mat-select>
        </mat-form-field>
        &ngsp;
        <a href="https://cloud.google.com/text-to-speech/docs/voices" target="_blank" rel="noopener">List of voices</a>
        <br>
        <mat-form-field class="textarea">
          <mat-label>Text to convert</mat-label>
          <textarea
              matInput
              formControlName="text"
              matTextareaAutosize
              matAutosizeMinRows="20">
          </textarea>
        </mat-form-field>
      </mat-card-content>
      <mat-card-actions align="end">
        <button
            mat-button
            color="primary"
            type="button"
            (click)="deleteCardAt(i)"
            [disabled]="loading">
          <mat-icon inline>delete</mat-icon>&ngsp;Delete
        </button>
        <button
            mat-stroked-button
            color="primary"
            type="button"
            (click)="addCardAt(i+1)"
            [disabled]="loading">
          <mat-icon inline>add</mat-icon>&ngsp;Add after
        </button>
      </mat-card-actions>
    </mat-card>
    <div class="submit-container">
      <mat-spinner *ngIf="loading" class="spinner" diameter="36"></mat-spinner>
      <button
          mat-raised-button
          type="submit"
          color="primary"
          class="submit-button"
          [disabled]="loading">
        Create audio
      </button>
    </div>
  </form>
</div>